
body{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
background-color: rgba(51, 26, 10, 0.082);
    
}

h1{
    text-align: center;
    background-color: rgb(70, 62, 62);
    color: #fff;
}
h3{
    /* display: inline; */
    text-align: center;
   color: #fff;
    background-color: rgb(70, 62, 62);
}
span{
    font-size: 20px;
    font-weight: 400;
    color: rgb(231, 229, 229);

}


.creator{
    text-align: center;
    /* background-color: #fff; */
    font-weight: bold;
}
 figure{
    text-align: center;
    
 }
  figcaption{
    /* background-color: #fff; */
  }
  h2{
    /* background-color: #fff; */
    display: inline;
    padding: 7px;
    border-radius: 10px;
    color: white;
    background-color: rgb(70, 62, 62);
  }
  p{
    /* background-color: #fff; */
    padding: 10px;
}

ul{
    /* padding: 10px; */
    /* background-color: #ffffff; */
}

blockquote{
    /* padding: 10px; */
    /* background-color: #fff; */
}
a{
    color: rgb(121, 38, 199);
}
